body{
	margin: 0;
	padding: 0;
}

#main{
	display: block;
}

.wrapper{
	background-position: center;
	background-size: cover;
	min-height: 100vh;		
}

.logo_nav{
	height: 64px;
	margin-right: 8px;
	padding: 12px;

}

.bold{
	font-weight: bold;
}

.transparent{
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
}

@media only screen and (max-width : 600px){
	.logo_nav{
		width: 56px;
		height: 56px;
	}
}

.land{
	height: 100vh;
}

.landing_div{
	position: absolute;
}

.landing{
	width: 100% ;
	
}

.container{
	position: relative;
}

.name{
	font-family: 'Oswald', sans-serif;
}

.qual{
	font-family: 'Lato', sans-serif;
}

.right{
	float: right;
}

.page-footer{
	position: relative;
}