body{
	margin: 0;
	padding: 0;
}

.center{
	width: 100%;
	text-align: center;
}

nav #nav-mobile li a{
	line-height: 1.5;
	margin-top: 20px;
	padding: 0;
	margin-left: 15px; 
	margin-right: 15px; 
	transition-duration: 0.3s;
}

nav #nav-mobile li a:hover{
	transition-duration: 0.3s;
	border-bottom: 1px solid #121212;
	background-color: transparent;
}

nav #nav-mobile	li a.active{
	background-color: transparent;
	border-bottom: 1px solid #121212;
}

nav #nav-mobile li.active{
	background-color: transparent;
}

nav .button-collapse{
	z-index: 3;
}

.text{
	font-weight: 100;
	border: 1px #121212;
	border-style: solid;
	padding-top: 30px; 
	padding-bottom: 30px; 
	width: auto;
	font-size: 2em;
}

#main{
	display: block;
}

.wrapper{
	background-position: center;
	background-size: cover;
	min-height: 100vh;		
}

.langing_div.responsive-img, .landing.responsive-img{
	height: 100vh;
	width: auto;	
}

.logo_nav{
	height: 64px;
	margin-right: 8px;
	padding: 12px;

}

.bold{
	font-weight: bold;
}

.transparent{
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
} 

.land{
	position: relative;
	width: 100%;
	height: 100vh;	
	margin-bottom: -64px;
	z-index: 2;
}

.landing_div{
	position: absolute;
	height: 100%;
	z-index: -1;	
}

.landing{
	width: auto;
	height: 100vh;	
}

.container{
	position: relative;
}

.name{
	padding-top: 250px;			
	margin: 0;
	font-size: 100px;
	font-weight: 300;
	line-height: 100px;
	font-family: 'Oswald', sans-serif;
	font-size: 100px;			
	color: #121212;
}

.qualification{			
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 25px;			
	color: #121212;
	margin: 20px;
	padding-bottom: 200px;
}

.divider{
	margin: 30px;
	width: 30%;
	height: 2px;
	background-color: #121212;
}

.right{
	float: right;
}

.head{
	padding: 20px;
}

.bottom{
	padding: 40px;
}

.h_about{
	font-weight: 100;
}

.b_about{
	font-size: 2em;
	font-weight: 300;	
}

.prof_pic{
	border: 5px solid #fafafa;
	border-radius: 50%;
	width: 400px;
	/*box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);*/
}

.pic_container{
	padding: 3%;
}

.display_img{
	border: 1px solid #f5f5f5;
}

.page-footer{
	position: relative;
}

.s_links{
	margin-right: 16px;
}

.card-image img{
	max-width: 192px;
}