body{
	margin: 0;
	padding: 0;
}

.center{
	width: 100%;
	text-align: center;
}

nav ul li a:hover{
	border-bottom: 1px solid #121212;
	background-color: transparent;
}

nav ul li.active{
	background-color: transparent;
	border-bottom: 1px solid #121212;
	color: #121212;
}

.text{
	font-weight: 100;
	border: 1px #121212;
	border-style: solid;
	padding-top: 30px; 
	padding-bottom: 30px; 
	width: auto;
	font-size: 2em;
}

#main{
	display: block;
}

.wrapper{
	background-position: center;
	background-size: cover;
	min-height: 100vh;		
}

img.responsive-img{
	height: 100vh;
	width: auto;	
}

.logo_nav{
	height: 64px;
	margin-right: 8px;
	padding: 12px;

}

.bold{
	font-weight: bold;
}

.transparent{
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
} 

.land{
	position: relative;
	width: 100%;
	height: 100vh;	
	margin-bottom: -64px;
	z-index: 2;
}

.landing_div{
	position: absolute;
	height: 100%;
	z-index: -1;	
}

.landing{
	width: auto;
	height: 100vh;	
}

.container{
	position: relative;
}

.name{
	padding-top: 250px;			
	margin: 0;
	font-size: 100px;
	font-weight: 300;
	line-height: 100px;
	font-family: 'Oswald', sans-serif;
	font-size: 100px;			
	color: #121212;
}

.qualification{			
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 25px;			
	color: #121212;
	margin: 20px;
	padding-bottom: 200px;
}

.divider{
	margin: 30px;
	width: 30%;
	height: 2px;
	background-color: #121212;
}

.right{
	float: right;
}

.head{
	padding: 20px;
}

.bottom{
	padding: 40px;
}
.h_about{
	font-weight: 100;
}

.b_about{
	font-weight: 200;
}

.page-footer{
	position: relative;
}