#main{
	display: none;
}

.logo_nav{
	width: 64px;
	height: 64px;
	margin-right: 8px;
	padding: 8px;
}

.progress{
	width: 15%;
}

@media only screen and (max-width : 600px){
	.logo_nav{
		width: 56px;
		height: 56px;
	}

	.progress{
		width: 30%;
	}
}

.brand-logo{
	font-family: 'Lato', sans-serif;
}

.aui_heading{
	font-weight: 100;
	font-size: 3.5em;
	margin-bottom: 5px;
}

.aui_sub_heading{
	font-weight: 300;
	font-size: 1.5em;
}

.block_quotes{
	font-size: 2em;
	font-weight: 300;
	border-color: #7e57c2; 
}

.block_quotes_sub{
	font-size: 1.2em;
	font-weight: 300;
	border-color: #7e57c2; 
}


.by{
	font-style: italic;
}

.s_links{
	margin-right: 8px;
}

#loader{
	margin-top: 200px;
}

.logo_loader{
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
}

.loader_txt{
	font-style: italic;
	font-size: 1.2em;
}
