body{
	margin: 0;
	padding: 0;
}

#main{
	display: block;
}

.wrapper{
	background-position: center;
	background-size: cover;
	min-height: 100vh;		
}

.brand-logo{
	font-weight: 100;
}


nav ul li a{
	line-height: 1.5;
	margin-top: 20px;
	padding: 0;
	margin-left: 15px; 
	margin-right: 15px; 
	transition-duration: 0.3s;
}

nav ul li a:hover{
	transition-duration: 0.3s;
	border-bottom: 1px solid #fff;
	background-color: transparent;
}

nav ul li a.active{
	background-color: transparent;
	border-bottom: 1px solid #fff;
}

.logo_nav{
	height: 64px;
	margin-right: 8px;
	padding: 12px;

}

.bold{
	font-weight: bold;
}

.transparent{
	background-color: rgba(255, 255, 255, 0);
}

@media only screen and (max-width : 600px){
	.logo_nav{
		width: 56px;
		height: 56px;
	}
}

.bottom{
	padding: 40px;
}

.title{
	font-weight: 200;
}	

.ops_heading{
	font-weight: 100;
}

.ops_projects{
	display: flex;
	flex-wrap: wrap;
}

.project_image{
	height: auto;
}

.card-image{
	width: 15em;
	max-height: none;
	height: auto;
}

.card-image img{
	height: auto !important;
}

.s_links{
	margin-right: 16px;
}