.contact-content {
  grid-column: 2 / span 9;
  display: flex;
  align-items: center;
}

.contact-title-content{
  width: 100%;
  grid-row: 2 / span 5;
  padding-right: 32px;
}

.contact-title {
  font-size: 72px;
  margin-bottom: 8px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.contact-subtitle {
  font-size: 36px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.contact-design-content{
  width: 100%;
  height: 100%;
  position: relative;
}

.contact-link > a {
  color: #fff;
}

.contact-link:hover > a {
  color: #111;
}

.email-link {
  color: white;
}

.email-link:hover{
  text-decoration: underline;
}