.design-content {
  grid-column: 2 / span 9;
  display: flex;
  align-items: center;
}

.design-title-content{
  width: 100%;
  grid-row: 2 / span 5;
  padding-right: 32px;
}

.design-title {
  font-size: 72px;
  margin-bottom: 8px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.design-subtitle {
  font-size: 36px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.design-link > a {
  color: #fff;
}

.design-link:hover > a {
  color: #111;
}

